---
import { format, parseISO } from 'date-fns'
import EditorLayout from '@layouts/EditorLayout.astro'
import { getLinks, getPosts } from '@api/index'
import { Link } from '@utils/types'

const links = await getLinks()

const current_tab = {
  ...(links.find((link) => link.name === 'Blog') as Link),
  extension: 'index'
}

const posts = await getPosts()

const tabs = [
  current_tab,
  ...posts.map((post) => ({
    name: post.title,
    icon: 'ooui:article-ltr',
    url: `/blog/${post.slug}`,
    extension: 'post'
  }))
]
---

<EditorLayout current_tab={current_tab} links={links} tabs={tabs}>
  <div class="m-4">
    <div class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <div class="flex gap-4">
            <div class="flex flex-col items-center shrink-0">
              <div class="text-4xl text-brand-primary">
                {format(post.created_at, 'dd')}
              </div>
              <div class="text-lg text-brand-secondary">
                {format(post.created_at, 'MMM yyy')}
              </div>
            </div>
            <div class="flex-1">
              <a
                href={`/blog/${post.slug}`}
                class="text-xl no-underline"
                data-swup-preload
              >
                {post.title}
              </a>
              <div class="mt-1 line-clamp-2">{post.summary}</div>
              <div class="flex gap-2 mt-2">
                {post.tags &&
                  post.tags.map((tag) => <span class="pill">{tag.name}</span>)}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</EditorLayout>
