---
import slugify from 'slugify'
import { format, parseISO } from 'date-fns'
import { marked } from 'marked'
import { getExperiences } from '@api/index'

let experiences = await getExperiences()

experiences = experiences.map(experience => {
  return {
    ...experience,
    formattedFrom: format(parseISO(experience.from), 'MMM yyyy'),
    formattedTo: experience.to && format(parseISO(experience.to), 'MMM yyyy')
  }
})
---

<ul role="list" class="grid grid-cols-1 m-4 ml-0 list-none gap-y-8 print:block print:mt-4">
  {experiences.map(experience =>
  <li id={slugify("Experience "+experience.company)} class=" pl-0 my-0 group print:mt-4 print:break-inside-avoid">
    <div class="flex flex-wrap items-center justify-between">
      <h3 class="my-0">
        <a href={ experience.link } target="_blank" class="font-medium no-underline">{experience.company}
          <span class="hidden text-sm print:inline">
            ( {experience.link.replace(/^https?:\/\//, "")} )
          </span>
        </a>
      </h3>
      <span class="text-sm text-slate-500">{experience.formattedFrom === experience.formattedTo ? experience.formattedTo
        : `${experience.formattedFrom} →
        ${experience.formattedTo || 'present'}`}</span>
    </div>
    <span class="text-slate-500 print:text-base">{ experience.position }</span>
    <div class="flex flex-wrap gap-5 mt-1">
      {experience.technologies.map(technologie => {
      return <span class="h-7" title={technologie.technologies_id.name}>
        <iconify-icon icon={technologie.technologies_id.icon} class={`${technologie.technologies_id.saturate
          ? 'saturate-0' : '' } w-7 h-7`} width="28" height="28" />
      </span>
      }
      )}
    </div>
    <ul role="list" class="mt-2 mb-0 print:text-base">
      {experience.tasks?.map(task =>
      <li class="mt-1 mb-0" set:html={marked.parseInline(task.task)}></li>
      )}
    </ul>
  </li>
  )}
</ul>