---
import slugify from 'slugify'
import { getInterests } from '@api/index'

const interests = await getInterests()
---

<ul role="list"
  class="grid grid-cols-1 m-4 ml-0 list-none gap-x-12 gap-y-4 sm:grid-cols-2 print:block print:mt-4 print:columns-2">
  {interests.map(interest =>
  <li id={slugify("Interest "+interest.name)}
        class="relative w-full overflow-hidden rounded-md shadow-md  group interest print:break-inside-avoid max-h-20">
    <img class="relative z-10 object-cover w-full polygon-clip"
      src={`${import.meta.env.DIRECTUS_URL}assets/${interest.image}/${slugify(interest.name)}.png?key=interest&v=1`}
      alt={`${interest.name} image` } />
    <h3 class="absolute my-0 transition-all -translate-y-1/2 z-5 group-hover:z-20 top-1/2 right-4 drop-shadow-md">
      {interest.name}</h3>
  </li>
  )}
</ul>

<style is:global>
  .polygon-clip {
    transition: all 0.4s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .interest:hover .polygon-clip {
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0 100%);
  }
</style>