---
import "@unocss/reset/tailwind.css"
import "unocss-hmr-fix"

export interface Props {
  title: string;
  lang: string;
  base_url: string;
  first_name: string;
  last_name: string;
  description: string;
  username: string;
  gender: string;
  keywords: string[];
}

const { title, lang, first_name, last_name, description, keywords, base_url, username, gender } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang={lang}>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <meta name="description" content={description} />
  <meta name="keywords" content={keywords.join(",")} />
  <meta name="author" content={`${first_name} ${last_name}`} />
  <meta name="copyright" content={`${first_name} ${last_name}`} />
  <meta name="robots" content="follow" />

  <meta property="og:title" content={title}>
  <meta property="og:type" content="profile" />
  <meta property="og:description" content={description}>
  <meta property="og:image" content="/assets/uploads/profile.jpg">
  <meta property="og:url" content={base_url}>
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content={title}>
  <meta name="twitter:image:alt" content={`${first_name} ${last_name} Profile Picture`}>
  <meta name="profile:first_name" content={first_name}>
  <meta name="profile:last_name" content={last_name}>
  <meta name="profile:username" content={username}>
  <meta name="profile:gender" content={gender}>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <title>{title}</title>
</head>

<body class="font-sans antialiased bg-white">
  <slot />
</body>

</html>